{% extends "base.html" %}

{% block title %}
  Account Dashboard - Coming Soon
{% endblock %}

{% block meta_description %}
  Your personalized Evergreen Bank dashboard
{% endblock %}

{% block head_extra %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/user_dashboard.css') }}">
{% endblock %}

{% block content %}
  <!-- Main content of the page -->
  <main class="accounts-page">
    <h1 id="account-selection-heading">Your Accounts</h1>
    
    <!-- Section for displaying all accounts -->
    <section class="accounts-section">
      <div class="accounts-container">
        <!-- Loop over each account in 'accounts' and display details -->
        {% for account in accounts %}
          <a href="{{ url_for('customer.customer_dashboard', account_id=account.account_id) }}" class="account-box">
            <h3>{{ account.account_type }}</h3> <!-- Account type (e.g., checking, savings) -->
            <p>Account ID: {{ account.account_id }}</p> <!-- Unique identifier for the account -->
            <span class="account-balance">
              <!-- Display the account balance formatted to 2 decimal places -->
              ${{ '%.2f' | format(account.curr_bal) }}
            </span>
          </a>
        {% endfor %}
        <a href="{{ url_for('customer.transfer_funds') }}">Transfer Funds</a>
      </div>
    </section>
  </main>
{% endblock %}
